option_settings:
  - option_name: NODE_ENV
    value: production
container_commands:
  00_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
  00_npm_binary:
      command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
  01_create_db:
    command: './node_modules/.bin/sequelize db:create --env=production'
    leader_only: true
    ignoreErrors: true
  02_migrate_db:
    command: './node_modules/.bin/sequelize db:migrate --env=production'
    leader_only: true