<!DOCTYPE html>
<html>

<body>
    <!-- sign up section  -->
    <form action="/signup" method="POST">
        <% include partials/login_fields.ejs %>
        <button type="submit">Sign Up</button>
    </form>
</body>

</html>